* {
  margin: 0;
  padding: 0;
}

.main {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background-color: rgb(226, 226, 254);
}

.speak-btn {
  border-radius: 50%;
  border: none;
  outline: none;
  background-color: rgb(89, 89, 255);
  width: 90vw;
  height: 90vw;
  box-shadow: 0px 25px 15px 0px #919191;
}

.speak-btn:active {
  transform: scale(0.99) translateY(0.1vh);
  box-shadow: 0px 20px 15px 0px #919191;
}

.speak-btn img {
  width: 40%;
}

.call-btn {
  height: 10vh;
  width: 10vh;
  border-radius: 50%;
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 3vh;
  box-shadow: 0px 10px 10px 0px #919191;
}

.call-btn img {
  height: 100%;
}

@media (min-width: 700px) {
  .speak-btn {
    border-radius: 50%;
    border: none;
    outline: none;
    background-color: rgb(89, 89, 255);
    width: 50vh;
    height: 50vh;
    box-shadow: 0px 25px 15px 0px #919191;
  }

  .main p{
    font-size: 3vw;
    font-weight: bold;
  }
}
